/*================================RESET CSS=================================*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    position: relative;
    font-size: 12px;
    overflow-x: hidden;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

ul {list-style: none}

input, select {
    vertical-align:middle;
}
/*================================RESET CSS=================================*/

/*================================MAIN=================================*/
@font-face {
    font-family: 'UTM Akashi';
    src: url('../fonts/UTM Akashi.eot');
    src: url('../fonts/UTM Akashi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UTM Akashi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UTMAkashi';
    src: url('../fonts/UTMAkashi.woff') format('woff'),
    url('../fonts/UTMAkashi.ttf') format('truetype'),
    url('../fonts/UTMAkashi.svg#UTMAkashi') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #1b141c url('../images/background.png') no-repeat center;
}
/*.container {width: 962px; margin: auto;}*/

/************************************************************
************* MENU HEADER ***********************************
************************************************************/

header, .header {
    position: relative;
}

header {
    clear: both;
}

.header {
    height: 200px;
}


a.logo {
    position: absolute;
    top: 23px;
    left: -34px;
}

#header-menu {
    width: auto;
    float: left;
}

#header-menu .background-menu {
    background-image: url('../images/menunav.png');
    background-repeat: no-repeat;
}

#header-menu a {
    float: left;
    height: 65px;
    margin-left: 10px;
}

#header-menu a.first {
    margin-left: 0 !important;
}

#header-menu a.home {
    background-position: 0 0;
    width: 100px;
}

#header-menu a.feature {
    background-position: -140px -1px;
    width: 100px;
}

#header-menu a.guide {
    background-position: -270px -1px;
    width: 102px;
}

#header-menu a.activity {
    background-position: -415px -1px;
    width: 100px;
}

#header-menu a.public {
    background-position: -543px -1px;
    width: 100px;
}

.cnt-block {
    margin-left: -15px;
}


/**************************************************************************
**********************      SIDEBAR         *******************************
**************************************************************************/
.register {
    min-height: 201px;
    background: url('../images/dangky.png') no-repeat center;
    position: relative;
}

.register .download-now {
    display: block;
    height: 110px;
}

.register .card, .register .signup {
    display: inline-block;
    width: 50%;
    position: absolute;
    bottom: 0;
    height: 72px;
}

.register .card {
    left: 0;
}

.register .signup {
    right: 0;
}

/*================================HEADER=================================*/
header {background: url('../images/head.png') no-repeat; width: 100%; height: 1536px;}
header h1 {width: 361px; float: left; margin-top: 24px;}
header ul {font-family: "UTMAkashi", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 30px; padding-top: 10px;}
header ul li {
    display: inline-block;
}

.content{position: absolute; top: 310px; width: 100%; z-index: 999999999999999;}
.content .container {position: relative;}
.content .container .img-stick{position: absolute; top: -170px; right: -420px; z-index: -1}
.content .container .img-stick2{position: absolute; top: -200px; right: -500px; z-index: -2}
.content .sidebar {text-align: right;}
.content .sidebar .register .cat-dat-ngay{ line-height: 0px; }
.content .sidebar .register div .nap-the{ float: left;}
.content .sidebar .quan-ly-tai-khoan {margin: 15px 0px;}
.content .sidebar .tieu-tien-nu img { margin-bottom: 15px;}
.content .sidebar .tinh-nang-hang-ngay {margin-bottom: 15px;}
.content .sidebar .tinh-nang-hang-ngay a {color: #fff;}
.content .sidebar .tinh-nang-hang-ngay #tn-tabs {background: #510201; width: 245px; height: 284px;}
.content .sidebar .tinh-nang-hang-ngay #tn-tabs ul {margin-top: -17px; margin-bottom: 20px;}
.content .sidebar .tinh-nang-hang-ngay #tn-tabs ul.ui-tabs-nav li {display: inline-block;  margin-bottom: 20px;  opacity:  0; cursor: pointer }
.content .sidebar .tinh-nang-hang-ngay #tn-tabs ul.ui-tabs-nav li a {padding: 5px 10px; margin-left: 3px;}
.content .sidebar .tinh-nang-hang-ngay #tn-tabs ul.ui-tabs-nav li:last-child {margin-left: 0px;}
.content .sidebar .tinh-nang-hang-ngay #tn-tabs .tn-tabs {padding: 0px 20px;}
.content .sidebar .tinh-nang-hang-ngay #tn-tabs .tn-tabs ul li {padding: 10px 0px; border-bottom: 1px solid #fff;}
.content .primary {float: left; overflow: hidden; width: 700px;}
.content .primary .featured {background: url("../images/background.png") no-repeat; width: 700px; height: 315px; }
.content .primary .featured ul {width: 270px;  height: 304px; padding-top: 5px; padding-left: 6px;}
.content .primary .featured ul li {line-height: 0px}
.content .top-image {overflow: hidden; padding-top: 67px;}
.content .top-image ul li {float: left; list-style: none;}
.content .primary .tintuc-rank {overflow: hidden; margin-top: 14px; }
.content .primary .rank {float: left;}
.content .primary .rank #list-tab{width: 200px; height: 26px;}
.content .primary .rank .bang-xep-hang {background: #510201; height: 350px; text-align: center; margin-bottom: 15px; padding: 0px 10px;}
.content .primary .rank .bang-xep-hang #bx-tabs select {margin: 15px 0px;}
.content .primary .rank .bang-xep-hang table {width: 100%; color: #d7a10f; text-align: left;}
.content .primary .rank .bang-xep-hang table tr {height: 25px;}
.content .primary .rank .bang-xep-hang h3 {color: green; text-transform: uppercase; padding-top: 10px;}
.content .primary .tintuc-rank .tin-tuc {width: 456px; float: left; background: #142030; margin-right: 10px;}
.content .primary .tintuc-rank .tin-tuc .news { overflow: hidden; padding: 10px 20px; border-bottom: 2px solid #1c2838}
.content .news img {float: left; margin-right: 10px;}
.content .news h6, a.title {color: #ce6839; margin-bottom: 10px;}
.content .news p {color: #f0c55f}
.content .primary .slider-bottom {background: #4f160c;  height: 214px; margin-top: 15px;}
.content .primary .slider-bottom #tabs ul {width: 100%; overflow: hidden; padding: 0px 16px; border-bottom: 3px solid #ffea7b; padding-bottom: 6px; margin-bottom: 38px;}
.content .primary .slider-bottom #tabs ul li {float: left}

footer {background: url('../images/foot.png') no-repeat; width: 100%; height: 561px; position: absolute; bottom: -200px; z-index: -3}

/**********************************************************
*********** HAONH ****************************************/
.bg-category {
    background-color: #f2e1cd;
}

.cate-header {
    background-color: #9e3a3a;
    color: #d7b8b8;
    text-transform: uppercase !important;
    padding: 15px 20px;
    font-size: 18px;
}

.bg-category ul.list-cate, .bg-category li {
    list-style: none;
    list-style-type: none;
}

.bg-category ul.list-cate {
    padding: 20px;
}

.bg-category ul.list-cate li {
    position: relative;
    display: block;
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #f6f2aa;
}

.bg-category ul.list-cate li a.link-img {
    float: left;
    max-width: 146px;
    margin-right: 10px;
}

.bg-category ul.list-cate li a.link-img img {
    overflow: hidden;
}

.bg-category ul.list-cate li p {
}

.bg-category ul.list-cate li .title {
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    padding-top: 5px;
}

.bg-category ul.list-cate li .title:hover,
.bg-category ul.list-cate li .title:focus {
    text-decoration: underline;
}

.content-detail {
    padding: 20px 30px;
}

.content-detail p {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.2em;
}

.content-detail .cate-header {
    text-transform: none !important;
}
.content-detail ul.other-list {
    margin-left: 20px;
    margin-top: 20px;
}

.content-detail ul.other-list li {
    list-style: circle;
    border-bottom: solid 1px #aca092;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.content-detail ul.other-list li a {
    color: #000;
}

.clear-fix {
    font-size: 0;
    clear: both;
}

.clear-fix::before {
    content: ' ';
}